p{
    width: 400px;
    height: 300px;
    border: 2px solid red;
}
h1{
    color: green;
    background-color: orange;
}
p{
    border-radius: 15px;
    background-color: aqua;
    border-bottom-right-radius: 50px;
}