.card{
    height: 300px;
    width: 200px;
    border: 2px solid black;
    display: inline-block;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px black;
    transition: 0.25s;
}

.desc{
    padding: 0 35px 0 40px;
    border-radius: 5px;
    
}

img{
    width: 100%;
    border-radius: 5px;
}

.card:hover{
     box-shadow:0 8px 16px blue ;
}