#face{
    height: 400px;
    width: 400px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: yellow;
}

#mouth{
    height: 70px;
    width: 200px;
    border: 2px solid black;
    border-radius: 0 0 200px 200px;
    background-color: red;
    position: absolute;
    top: 270px;
    left: 100px
}

.left-eye,
.right-eye{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    background-color: black;
    margin: 20px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 80px;
}

.right-eye{
    left: 230px;
}