*{
    font-family:'Courier New';
}

h1{
    color: #1b74e7;
}

#search{
    background-color: black;
    color: white;
}

#login{
    background-color: aqua;
}

#register{
     background-color: aqua;
}