*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

h1{
    color: red;
}

#login{
    color: black;
    background-color: white;
}

#signup{
    color: white;
    background-color: red;
}
.upvote{
    background-color: blue;
    color: white;
}

p a{
    color: red;
    text-decoration: none;
}