.card{
    height: 500px;
    width: 300px;
    display: inline-block;
    border: 2px solid black;
    margin: 20px;
    padding: 5px;
    border-radius: 25px;
    background-color: pink;
    box-shadow: 0 4px 8px black;
    transition: 0.25s;
}

img{
    width: 100%;
    border-radius: 25px;
    border: 2px solid black;
}

h3{
    text-align: center;
    font-size: 25px;
}

h4{
    text-align: left;
    font-size: 25px;
    padding-left: 20px;
    color: brown;
}

span{
    color: brown;
}

h2{
    color:  maroon ;
}

#pet{
    display: flex;
    justify-content: space-evenly;
}

.card:hover{
    box-shadow: 0 8px 16px rgb(96, 2, 18) ;
}

@media(max-width: 375px){
    #pets{
        flex-wrap: wrap;
    }
}