body{
    background-color: gainsboro;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main{
    height: 400px;
    width: 300px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 15px rgb(0, 140, 255);
}

.main2{
     height: 150px;
    width: 300px;
    background-color: blue;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.main img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 2px solid white;
    position: relative;
    top: 60px;
    left: 90px;
    background-color: blue;
    padding: 2px;
}

h3{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 40px;
    
}

p{
    display: flex;
    position: relative;
    top: 25px;
    align-items: center;
    justify-content: center;

}

.social-media i{
    font-size: 25px;
    color: black;
    padding: 5px;
    position: relative;
    top: 100px;
    left: 60px;
    cursor: pointer;
}

.badges{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 110px;
    gap: 20px;
    
}


.subscribe, .message{
    padding: 5px 10px; 
    color: white;
    background-color: blue;
    border-radius: 30px;
    font-size: 15px;
    border-color: blue;
    cursor: pointer;
}

.like-share {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 130px;
    gap: 18px;
    cursor: pointer;
}

.like-share .icon span {
    font-size: 15px;
    margin-top: 3px;
}

.social-media i:hover{
    transform: scale(1.15);
}

.like-share .icon:hover{
    transform: scale(1.1);
}

.badges button:hover{
    transform: scale(1.1);
}
